body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  color: #e0e0e0; /* Texto claro */
  margin: 0;
  padding: 20px;
  background-color: #121212; /* Fundo escuro */
}

.container {
  max-width: 800px;
  margin: 0 auto;
  background-color: #1e1e1e; /* Fundo do contêiner */
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5); /* Sombra mais discreta */
}

h1,
h2 {
  color: #ffffff; /* Títulos claros */
  margin-bottom: 20px;
}

.form-section {
  width: 100%;
}

.form-section h2 {
  font-size: 1.2em;
  margin-bottom: 10px;
  color: #cfcfcf;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.flex > div {
  flex: 1;
  min-width: 200px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #cccccc; /* Cor neutra para os labels */
}

input[type="text"],
input[type="date"],
input[type="number"],
select {
  width: 100%;
  padding: 8px;
  border: 1px solid #444; /* Borda suave */
  border-radius: 4px;
  font-size: 14px;
  box-sizing: border-box;
  background-color: #2c2c2c; /* Fundo escuro dos inputs */
  color: #e0e0e0; /* Texto claro */
}

input[type="text"]:focus,
input[type="date"]:focus,
input[type="number"]:focus,
select:focus {
  outline: none;
  border-color: #64b5f6; /* Azul suave para foco */
  box-shadow: 0 0 5px #64b5f6;
}

.button-group {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.btn-primary:disabled {
  opacity: 0.5;
  cursor: progress;
}

.btn-primary {
  background-color: #64b5f6; /* Azul suave */
  color: #121212; /* Texto escuro para contraste */
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  display: block;
  width: 100%;
  margin-top: 20px;
}

.btn-primary:hover {
  background-color: #42a5f5;
}

.btn-secondary:disabled {
  opacity: 0.5;
  cursor: progress;
}

.btn-secondary {
  background-color: #9FA6B2; /* Azul suave */
  color: #121212; /* Texto escuro para contraste */
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  display: block;
  width: 100%;
  margin-top: 20px;
}

.btn-secondary:hover {
  background-color: #888E99;
}

.btn-danger {
  background-color: #e53935; /* Vermelho escuro */
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  display: block;
  width: 100%;
  margin-top: 20px;
}

.btn-danger:hover {
  background-color: #c62828;
}

.hidden {
  display: none;
}

.flex-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.contacts-group{
  display: flex;
  gap: 40px;
}

#whatsappSenderConfig{
  display: flex;
  justify-content: space-between;
  gap: 40px;
  margin-bottom: 20px;
}

#messageConfig{
  margin-top: 20px;
}

.inline-block{
  display: flex;
  justify-content: space-between;
}

#senderParameters{
  gap: 10px;
}

.inline-block label[for="sendToGroup"]{
  margin: 0px;
}

.inline-block input[type="radio"]{
  margin: 0px;
}

/* Estilização da tabela de contatos */
#contactsTable {
  width: 100%;
  border-collapse: collapse;
}


#contactsTable thead {
  display: table; /* Mantém o comportamento natural do cabeçalho */
  width: 100%; /* Garante alinhamento com o tbody */
  table-layout: fixed; /* Colunas com largura fixa */
  background-color: #333; /* Fundo do cabeçalho */
}

#contactsTable tbody {
  display: block; /* Permite rolagem no corpo */
  max-height: calc(2 * 50px); /* Altura para 2 linhas visíveis */
  overflow-y: auto; /* Adiciona scroll vertical */
  width: 100%;
  table-layout: fixed; /* Garante alinhamento das colunas */
}

#contactsTable tr {
  display: table; /* Preserva comportamento de linha de tabela */
  width: 100%;
  table-layout: fixed; /* Mantém colunas alinhadas */
}

#contactsTable th,
#contactsTable td {
  padding: 7px;
  text-align: left;
  color: #e0e0e0;
  font-size: 11px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

#contactsTable td button{
  margin: 0px;
  padding: 7px 10px;
  font-size: 11px;
}

#contactsTable tr:nth-child(even) {
  background-color: #1e1e1e;
}

/* Remove rolagem horizontal */
#contactsTable tbody::-webkit-scrollbar {
  width: 6px;
}

#contactsTable tbody::-webkit-scrollbar-thumb {
  background-color: #555;
  border-radius: 4px;
}

#contactsTable tbody::-webkit-scrollbar-track {
  background-color: #222;
}

/* Estilo para o botão no cabeçalho da tabela */
.add-contact-btn {
  background-color: #64b5f6; /* Azul suave */
  border: none;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  font-size: 14px;
  display: inline-block;
  text-align: center;
  width: 35%; /* Faz o botão ocupar toda a célula */
  box-sizing: border-box;
  margin: 0px;
  padding: 7px 10px;
  font-weight: bolder;
}

.add-contact-btn:hover {
  background-color: #42a5f5;
}

/* Campo de texto com dark mode */
#messageText {
  width: 100%;
  padding: 15px;
  font-size: 16px;
  border: 1px solid #444;
  border-radius: 8px;
  background-color: #2c2c2c; /* Fundo escuro */
  color: #e0e0e0; /* Texto claro */
  box-sizing: border-box;
}

#messageText:focus {
  outline: none;
  border-color: #64b5f6; /* Azul claro no foco */
  box-shadow: 0 0 5px #64b5f6;
}

select optgroup {
  font-weight: bold;
  color: #b0b0b0; /* Cor neutra */
}

select option {
  font-weight: normal;
  padding-left: 10px;
  background-color: #2c2c2c; /* Fundo dos options */
  color: #e0e0e0;
}

/* Estilo geral */
.flex div {
  display: flex;
  flex-direction: column;
  /* margin-bottom: 15px; */
}

.input-wrapper {
  position: relative;
}

.input-wrapper .arrow {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid #ccc;
  pointer-events: none;
}

input:disabled {
  cursor: not-allowed;
  background-color: #555;
}

.results-container {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 1000;
  max-height: 300px;
  overflow-y: auto;
  border: 1px solid #555;
  background-color: #333;
  color: #ccc;
  border-radius: 5px;
  padding: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.results-container.loading::before {
  cursor: progress;
  content: 'Carregando...';
  display: block;
  text-align: center;
  color: #aaa;
  font-style: italic;
  animation: dots 1.5s steps(3, end) infinite;
}

@keyframes dots {
  0% {
    content: 'Carregando';
  }
  33% {
    content: 'Carregando.';
  }
  66% {
    content: 'Carregando..';
  }
  100% {
    content: 'Carregando...';
  }
}

.result-group {
  margin-bottom: 10px;
}

.result-item[data-type="CITY"] {
  font-weight: bold;
  border-bottom: 1px solid #555;
  border-top: 1px solid #555;
}

.airport-group {
  margin-left: 15px;
}

.result-item {
  padding: 7px;
  cursor: pointer;
  font-size: 14px;
}

.result-item:hover {
  background-color: #e0e0e0;
}

.subresult-item {
  font-size: 12px;
  font-weight: normal;
  color: #939393;
}

.result-group-title {
  font-weight: bold;
  color: white;
}

.result-item:hover {
  background-color: #444;
  cursor: pointer;
}

.result-group:last-child {
  margin-top: 10px;
  border-bottom: 0px solid #555;
}

.result-group-title.others {
  padding: 7px;
  color: #ccc;
  font-style: italic;
  border-bottom: 1px solid #555;
  border-top: 1px solid #555;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.tooltip {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 200px;
  background-color: #333; /* Fundo escuro */
  color: #fff; /* Texto claro */
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -100px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.checkbox-container {
  display: flex;
  align-items: center;
}

.checkbox-container input[type="checkbox"] {
  margin-right: 5px;
}

.interval-input {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.interval-input > div {
  display: flex;
  align-items: center;
}

.interval-input input {
  width: 60px;
  margin-right: 5px;
  background-color: #2c2c2c;
  color: #e0e0e0;
  border: 1px solid #444;
}

.progress-container {
  width: 100%;
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #444;
  border-radius: 10px;
  background-color: #1e1e1e; /* Fundo escuro */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
  font-family: Arial, sans-serif;
}

.logs {
  height: 300px;
  overflow-y: auto;
  background-color: #2c2c2c; /* Fundo escuro para logs */
  padding: 10px;
  border-radius: 5px;
  font-size: 14px;
  line-height: 1.5;
  color: #e0e0e0;
}
